.permissions-manage{
	width: 100%;
	height: 100%;
	overflow:auto;
	box-sizing: border-box;
	padding: 15px;
	background-color: #fff;

	.custom-tree-node{
		display: flex;
		flex: 1;
		justify-content: space-between;
		font-size: 14px;

		.el-button--mini.is-circle{
			padding: 4px;
		}
	}
}

.user-manage{
	width: 100%;
	height: 100%;
	overflow:auto;
	box-sizing: border-box;
	padding: 15px;
	background-color: #fff;
}